<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HW_3</title>
</head>
<body>
<h1>Регистрация</h1>
<form method="POST" action="{{ url_for('submit') }}">
{{ form.csrf_token }}
<p>
{{ form.username.label }}<br>
{{ form.username() }}
</p>
    <p>
{{ form.user_surname.label }}<br>
{{ form.user_surname() }}
</p>
<p>
{{ form.email.label }}<br>
{{ form.email() }}
</p>
    <p>
{{ form.password.label }}<br>
{{ form.password() }}
</p>
    <p>{{form.submit()}}</p>

</form>
</body>
</html>