<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Children's toy store</title>
    <link rel="stylesheet" href="style.css">
</head>
<header>
    <a class = "menu" href = "index.html">Home</a>
    <a class = "menu" href = "catalog.html">Сatalog</a>

</header>
<body>

    <h1 class="title">Home page</h1>
    <p class="text">Dear moms and dads! Welcome to the page of our children's toy store.
    Here you will find many wonderful devices for your little curious kids.</p>
    <h2 class = "welcome">Welcome to the site!</h2>

    {% block base %}
    {% endblock %}


    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Contacts</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
            </ul>
            <p class="copyright">Company Name © 2023</p>
        </footer>
     </div>
</body>
</html>