{% extends 'base.html' %}
{% block base %}
<h1 class="title">Catalog</h1>
<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam placeat, repellat adipisci ad pariatur
    in incidunt est distinctio
    labore vitae explicabo aut sequi officia, inventore consequuntur, vero sit tempore? Sint quae similique eos
    voluptatum exercitationem
    saepe adipisci quis repellendus, necessitatibus placeat laudantium? Culpa doloribus harum quam, in sequi, laudantium
    recusandae similique possimus,
    deleniti esse optio sed aspernatur eligendi ipsam architecto quibusdam eum nostrum vero repellat dolor. Hic tempore
    quisquam sapiente quo saepe.
    Inventore quibusdam officia assumenda exercitationem quisquam repellat earum. Sed dignissimos at laboriosam atque,
    velit vel optio accusantium delectus
    laborum tempora voluptatum pariatur ipsum quas deserunt ipsa aliquid quaerat possimus assumenda, nemo accusamus id
    temporibus perspiciatis corporis eveniet?
    Vel non laboriosam nostrum sed nihil dolore facere quidem, corporis distinctio esse adipisci. Distinctio, illo
    necessitatibus possimus obcaecati
    impedit eveniet excepturi corrupti tenetur repellat ipsa vitae consequatur error nisi harum, beatae ipsum.
    Doloremque, omnis itaque. Delectus eaque
    aliquid voluptatem sed sint!</p>

           <figure class="sign">
            <p><img src="./static/bear.jpg" width="150" height="212" alt="This is bear"></p>
            <figcaption>Bears</figcaption>
           </figure>
           <p class="text">A soft teddy bear is the best gift for your tender little one. He is a pleasure to pet and hug.</p>

           <figure class="sign">
            <p><img src="./static/train.jpg" width="150" height="212" alt="This is train."></p>
            <figcaption>Train</figcaption>
           </figure>
           <p class="text">A bright wooden steamer will take your baby to a fairytale world.</p>

            <figure class="sign">
            <p><img src="./static/constructor.jpg" width="150" height="212" alt="This is constructor."></p>
            <figcaption>Constructor</figcaption>
           </figure>
           <p class="text">Your baby will be able to build his own fairytale world.</p>


{% endblock %}

